if TARGET_TX28

config SYS_BOARD
	default "tx28"

config SYS_VENDOR
	default "karo"

config SYS_SOC
	default "mxs"

config SYS_CONFIG_NAME
	default "tx28"

config TX28
	bool
	default y
	select SOC_MX28
	select SPL
	select APBH_DMA
	select APBH_DMA_BURST
	select APBH_DMA_BURST8
	select CC_OPTIMIZE_LIBS_FOR_SPEED
	select CMD_NAND_TRIMFFS if CMD_NAND
	select FDT_FIXUP_PARTITIONS
	select GET_FEC_MAC_ADDR_FROM_IIM if FEC_MXC
	select LIB_RAND
	select MTD_DEVICE
	select MTD_PARTITIONS
	select MXS_MMC if MMC
	select NAND
	select NAND_MXS
	select OF_BOARD_SETUP
	select OF_LIBFDT
	select SYS_NAND_USE_FLASH_BBT

config TARGET_TX28_40X2
	bool
	select TX28

config TARGET_TX28_40X3
	bool
	select TX28

config TARGET_TX28_41X0
	bool
	select TX28

choice
	prompt "U-Boot image variant"
	default TX28_UBOOT

config TX28_UBOOT
	bool "Standard U-Boot image"

config TX28_UBOOT_NOENV
	bool "U-Boot using only built-in environment"
	select UBOOT_IGNORE_ENV

endchoice

endif
