menuconfig TYPEC_UCSI
	bool "USB Type-C Connector System Software Interface (UCSI)"
	depends on DM && TYPEC
	help
	  USB Type-C Connector System Software Interface (UCSI) is a
	  specification for an interface that allows the operating system to
	  control the USB Type-C ports. On UCSI system the USB Type-C ports
	  function autonomously by default, but in order to get the status of
	  the ports and support basic operations like role swapping, the driver
	  is required. UCSI is available on most of the new Intel based systems
	  that are equipped with Embedded Controller and USB Type-C ports.

	  UCSI specification does not define the interface method, so depending
	  on the platform, ACPI, PCI, I2C, etc. may be used. Therefore this
	  driver only provides the core part, and separate drivers are needed
	  for every supported interface method.

	  The UCSI specification can be downloaded from:
	  https://www.intel.com/content/www/us/en/io/universal-serial-bus/usb-type-c-ucsi-spec.html

config UCSI_STM32G0
	bool "Support for STM32G0 UCSI controller"
	depends on TYPEC_UCSI && DM_I2C
	help
	  This driver enables UCSI support on platforms that expose a STM32G0
	  Type-C controller over I2C interface.
