if TARGET_TX8M

config SYS_BOARD
	default "tx8m"

config SYS_CONFIG_NAME
	default "tx8m"

config SYS_VENDOR
	default "karo"

config KARO_TX8M
	bool
	select BOARD_LATE_INIT
	imply FEC_MXC
	select IMX8M_DDR3L
	select MII
	select MXC_UART
	select PHYLIB

config KARO_QS8M
	bool
	select BOARD_LATE_INIT
	imply FEC_MXC
	select IMX8M_DDR3L
	select MII
	select MXC_UART
	select PHYLIB

config KARO_QSXM
	bool
	select BOARD_LATE_INIT
	imply FEC_MXC
	select IMX8M_LPDDR4
	select MII
	select MXC_UART
	select PHYLIB

choice
	prompt "Ka-Ro TX8M/QS8M module variant"
	default KARO_TX8MM_1610

config KARO_TX8MM_1610
	bool "Ka-Ro TX8M-1610 module"
	select IMX8MM
	select KARO_TX8M

config KARO_TX8MM_1620
	bool "Ka-Ro TX8M-1620 module"
	select IMX8MM
	select KARO_TX8M

config KARO_QS8M_MQ00
	bool "Ka-Ro QS8M-MQ00 (TX8M-1610 compatible solder-in module)"
	select IMX8MM
	select KARO_QS8M

config KARO_TX8MN
	bool "Ka-Ro TX8M-ND00 module"
	select IMX8MN
	select KARO_TX8M

config KARO_QS8M_ND00
	bool "Ka-Ro QS8M-ND00 (TX8M-ND00 compatible solder-in module)"
	select IMX8MN
	select KARO_QS8M

config KARO_QSXM_MM60
	bool "Ka-Ro QSXM-MM60 solder-in module with LPDDR4"
	select IMX8MM
	select KARO_QSXM

endchoice

choice
        prompt "U-Boot image variant"
	default TX8M_UBOOT

config TX8M_UBOOT
        bool "Standard U-Boot image"

config TX8M_UBOOT_MFG
        bool "U-Boot image for use with Freescale's MfGTool"

config TX8M_UBOOT_NOENV
        bool "U-Boot using only built-in environment"
        select UBOOT_IGNORE_ENV

endchoice

endif
