if TARGET_TX6

config SYS_BOARD
	default "tx6"

config SYS_VENDOR
	default "karo"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "tx6"

config TX6
	bool
	default y
	select APBH_DMA
	select APBH_DMA_BURST
	select APBH_DMA_BURST8
	select CC_OPTIMIZE_LIBS_FOR_SPEED
	select DM
	select DM_GPIO
	select DM_THERMAL
	select FSL_ESDHC if MMC
	select FSL_USDHC if MMC
	select IMX6_THERMAL
	select LIB_RAND
	select PHYLIB
	select GET_FEC_MAC_ADDR_FROM_IIM if FEC_MXC
	select MXC_OCOTP if CMD_FUSE
	select OF_BOARD_SETUP
	select OF_LIBFDT

config TX6_NAND
	bool
	default ! TX6_EMMC
	select CMD_NAND_TRIMFFS if CMD_NAND
	select CMD_ROMUPDATE
	select FDT_FIXUP_PARTITIONS
	select MTD_DEVICE
	select MTD_PARTITIONS
	select NAND
	select NAND_MXS
	select NAND_MXS_NO_BBM_SWAP
	select SYS_NAND_USE_FLASH_BBT

config TX6_EMMC
	bool
	select CMD_MMC
	select MMC
	select SUPPORT_EMMC_BOOT

config TX6UL
	bool
	select SOC_MX6UL
	select SYS_SDRAM_BUS_WIDTH_16

#
# variables selected depending on module variant
#
config SYS_LVDS_IF
	bool

config SYS_SDRAM_BUS_WIDTH_16
	bool

config SYS_SDRAM_BUS_WIDTH_32
	bool

choice
	prompt "TX6 module variant"

config TARGET_TX6Q_1020
	bool "TX6Q-1020"
	select SOC_MX6Q
	select SYS_I2C
	select SYS_I2C_MXC
	select TX6_EMMC

config TARGET_TX6Q_1033
	bool "TX6Q-1033"
	select SOC_MX6Q
	select SYS_I2C
	select SYS_I2C_MXC
	select TX6_EMMC

config TARGET_TX6Q_10X0
	bool "TX6Q-1010 and TX6Q-1030"
	select SOC_MX6Q
	select SYS_I2C
	select SYS_I2C_MXC

config TARGET_TX6Q_11X0
	bool "TX6Q-1110 and TX6Q-1130"
	select SOC_MX6Q
	select SYS_I2C
	select SYS_I2C_MXC
	select SYS_LVDS_IF
	
config TARGET_TX6S_8034
	bool "TX6S-8034"
	select SOC_MX6S
	select SYS_I2C
	select SYS_I2C_MXC
	select SYS_SDRAM_BUS_WIDTH_16

config TARGET_TX6S_8035
	bool "TX6S-8035"
	select SOC_MX6S
	select SYS_I2C
	select SYS_I2C_MXC
	select SYS_SDRAM_BUS_WIDTH_32
	select TX6_EMMC

config TARGET_TX6U_8011
	bool "TX6U-8011"
	select SOC_MX6DL
	select SYS_I2C
	select SYS_I2C_MXC
	select SYS_SDRAM_BUS_WIDTH_32

config TARGET_TX6U_8012
	bool "TX6U-8012"
	select SOC_MX6DL
	select SYS_I2C
	select SYS_I2C_MXC

config TARGET_TX6U_8033
	bool "TX6U-8033"
	select SOC_MX6DL
	select SYS_I2C
	select SYS_I2C_MXC
	select TX6_EMMC

config TARGET_TX6U_80X0
	bool "TX6U-8010 and TX6U-8030"
	select SOC_MX6DL
	select SYS_I2C
	select SYS_I2C_MXC

config TARGET_TX6U_8111
	bool "TX6U-8111"
	select SOC_MX6DL
	select SYS_I2C
	select SYS_I2C_MXC
	select SYS_LVDS_IF
	select SYS_SDRAM_BUS_WIDTH_32

config TARGET_TX6U_81X0
	bool "TX6U-8110 and TX6U-8130"
	select SOC_MX6DL
	select SYS_I2C
	select SYS_I2C_MXC
	select SYS_LVDS_IF

config TARGET_TX6UL_0010
	bool "TX6U-0010"
	select TX6UL

config TARGET_TX6UL_0011
	bool "TX6U-0011"
	select TX6UL
	select TX6_EMMC

endchoice

choice
	prompt "U-Boot image variant"
	default TX6_UBOOT

config TX6_UBOOT
	bool "Standard U-Boot image"

config TX6_UBOOT_MFG
	bool "U-Boot image for use with Freescale's MfGTool"

config TX6_UBOOT_NOENV
	bool "U-Boot using only built-in environment"
	select UBOOT_IGNORE_ENV

endchoice

endif
