config HW_WATCHDOG
	bool "Generic SoC specific watchdog support"
	depends on !ARCH_MX6

config IMX_WATCHDOG
	bool "Freescale i.MX watchdog support"
	depends on SOC_MX31 || SOC_MX35 || ARCH_MX5 || ARCH_MX6 || SOC_VF610 || SOC_LS102XA
