// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2020 Lothar Waßmann <LW@KARO-electronics.de>
 *
 */
#include "imx8mp-tx8mp-u-boot.dtsi"

&clk {
	/delete-property/ assigned-clocks;
};

&eqos {
	compatible = "fsl,imx-eqos";
};

&uart1 {
	/delete-property/ u-boot,dm-spl;
};

&uart2 {
	u-boot,dm-spl;
};
