// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2019 Lothar Waßmann <LW@KARO-electronics.de>
 *
 */

#include <config.h>

/ {
	config {
		u-boot,mmc-env-offset = <CONFIG_ENV_OFFSET>;
	};
};

&clk_ext1 {
	u-boot,dm-spl;
};

&clk_ext2 {
	u-boot,dm-spl;
};

&clk_ext3 {
	u-boot,dm-spl;
};

&clk_ext4 {
	u-boot,dm-spl;
};

&gpio1 {
	u-boot,dm-spl;
};

&gpio2 {
	u-boot,dm-spl;
};

&gpio3 {
	u-boot,dm-spl;
};

&gpio4 {
	u-boot,dm-spl;
};

&gpio5 {
	u-boot,dm-spl;
};

&i2c1 {
	u-boot,dm-spl;
};

&osc_32k {
	u-boot,dm-spl;
};

&pinctrl_i2c1 {
	u-boot,dm-spl;
};

&pinctrl_i2c1_gpio {
	u-boot,dm-spl;
};

&pinctrl_pmic {
	u-boot,dm-spl;
};

&pinctrl_uart1 {
	u-boot,dm-spl;
};

&pinctrl_uart1_rtscts {
	u-boot,dm-spl;
};

&pinctrl_uart2 {
	u-boot,dm-spl;
};

&pmic {
	u-boot,dm-spl;

	regulators {
		u-boot,dm-spl;
	};
};

&uart1 {
	u-boot,dm-spl;
};

&uart2 {
	u-boot,dm-spl;
};

&wdog1 {
	u-boot,dm-spl;
};
