// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 Lothar Waßmann <LW@KARO-electronics.de>
 *
 */
#include "imx8m-tx8m-u-boot.dtsi"

&pinctrl_usdhc1 {
	u-boot,dm-spl;
};

&usdhc1 {
	u-boot,dm-spl;
};
