// SPDX-License-Identifier: (GPL-2.0 or MIT)
/*
 * Copyright 2023 Lothar Waßmann <LW@KARO-electronics.de>
 */

#include "imx93-tx93-5210.dts"

&usdhc2 {
	pinctrl-0 = <&pinctrl_usdhc2 &pinctrl_usdhc2_cd>;
	cd-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
};

&iomuxc {
	pinctrl_usdhc2_cd: usdhc2-cdgrp {
		fsl,pins = <
			MX93_PAD_SD2_CD_B__GPIO3_IO00				0x31e
		>;
	};
};
