// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Lothar Waßmann <LW@KARO-electronics.de>
 */

/dts-v1/;

#include "imx91-qs91-3110.dts"

/{
	model = "Ka-Ro electronics GmbH QS91-3110 (NXP i.MX91) solder-in module on QSBASE4 baseboard";
};

&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos_rmii &pinctrl_ethphy0_rst>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	phy-supply = <&buck4>;
	phy-reset-gpios = <&gpio3 1 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <25000>; /* µs */
	phy-reset-post-delay = <100>; /* µs */
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@7 {
			reg = <7>;
		};
	};
};

&iomuxc {
	pinctrl_eqos_rmii: eqos-rmiigrp {
		fsl,pins = <
			MX91_PAD_ENET1_MDC__ENET_QOS_MDC		0x57e
			MX91_PAD_ENET1_MDIO__ENET_QOS_MDIO		0x17e
			MX91_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0		0x57e
			MX91_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1		0x57e
			MX91_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL	0x57e
			MX91_PAD_ENET1_TD2__ENET_QOS_CLOCK_GENERATE_CLK	0x4000017e
			/* SMSC LAN8710 Strap pins */
			MX91_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0		0x37e /* MODE0 */
			MX91_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1		0x37e /* MODE1 */
			MX91_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL	0x37e /* MODE2 (ext. Pullup) */
			MX91_PAD_ENET1_RXC__ENET_QOS_RX_ER		0x57e /* PHYAD0 */
		>;
	};

	pinctrl_ethphy0_rst: ethphy0-rstgrp {
		fsl,pins = <
			MX91_PAD_SD2_CLK__GPIO3_IO1				0x4000017e
		>;
	};
};
