CONFIG_SYS_EXTRA_OPTIONS="SYS_MPU_CLK=720,SYS_DDR_CLK=400"
CONFIG_ARM=y
CONFIG_TARGET_TX48=y
CONFIG_TX48_UBOOT=y
CONFIG_BOOTP_DNS=y
CONFIG_BOOTP_GATEWAY=y
CONFIG_BOOTP_SUBNETMASK=y
CONFIG_CMD_BOOTCE=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_MII=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_NAND=y
CONFIG_CMD_PING=y
CONFIG_CMD_ROMUPDATE=y
CONFIG_CMD_TIME=y
CONFIG_DOS_PARTITION=y
CONFIG_DM=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_LCD=y
CONFIG_MTD_DEVICE=y
CONFIG_MTD_PARTITIONS=y
CONFIG_NAND=y
CONFIG_NAND_OMAP_GPMC=y
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_OF_LIBFDT=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_OMAP_HSMMC=y
CONFIG_PHY_SMSC=y
CONFIG_SYS_PROMPT="TX48 U-Boot > "
