CONFIG_SYS_EXTRA_OPTIONS="SYS_LVDS_IF"
CONFIG_ARM=y
CONFIG_TARGET_TX53=y
CONFIG_TARGET_TX53_X130=y
CONFIG_TX53_UBOOT=y
CONFIG_CMD_MII=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_BOOTP_SUBNETMASK=y
CONFIG_BOOTP_GATEWAY=y
CONFIG_BOOTP_DNS=y
CONFIG_MMC=y
CONFIG_FSL_ESDHC=y
CONFIG_FSL_USDHC=y
CONFIG_LCD=y
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_FEC_MXC=y
CONFIG_IMX_WATCHDOG=y
CONFIG_CMD_I2C=y
CONFIG_DOS_PARTITION=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_SYS_PROMPT="TX53 U-Boot > "
