CONFIG_SYS_EXTRA_OPTIONS="SAMA5D4,SYS_USE_MMC"
CONFIG_ARM=y
CONFIG_ARCH_AT91=y
CONFIG_TARGET_TXA5=y
CONFIG_TARGET_TXA5_5011=y
CONFIG_TXA5_UBOOT=y
CONFIG_CMD_MII=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_BOOTP_SUBNETMASK=y
CONFIG_BOOTP_GATEWAY=y
CONFIG_BOOTP_DNS=y
CONFIG_MMC=y
CONFIG_LCD=y
CONFIG_NET=y
CONFIG_NETDEVICES=y
#CONFIG_CMD_I2C=y
CONFIG_DOS_PARTITION=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_PROMPT="TXA5 U-Boot > "
