source "board/karo/common/Kconfig"

if TARGET_TXRZ

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "txrz"

config SYS_VENDOR
	default "karo"

config SYS_CONFIG_NAME
	default "txrz"

choice
	prompt "Ka-Ro STM32 module variant"

config KARO_TXRZ_G2L0
	bool "Ka-Ro TXRZ-G2L0 module"
	select BOARD_LATE_INIT
	help
	  Enable support for the Ka-Ro electronics TXRZ-G2L0 module featuring
	  an RZ/G2L SOC, 1024MiB of SDRAM and 4GiB eMMC.

endchoice

endif
