source "board/karo/common/Kconfig"

if TARGET_KARO_STM32MP1

config SYS_BOARD
	default "stm32mp1"

config SYS_VENDOR
	default "karo"

config SYS_CONFIG_NAME
	default "txmp"

config KARO_STM32
	bool
	imply DM_RNG
	imply DM_USB
	imply DM_USB_GADGET
	imply RNG_STM32MP1

source "board/st/common/Kconfig"

choice
	prompt "Ka-Ro STM32 module variant"

config KARO_TXMP_1570
	bool "Ka-Ro TXMP-1570 module"
	depends on STM32MP15X
	select KARO_STM32
	imply KARO_STM32_EMMC
	help
	  Enable support for the Ka-Ro electronics TXMP-1570 module featuring
	  an STM32MP157C SOC, 512MiB of SDRAM and 4GiB or 8GiB eMMC.

config KARO_TXMP_1571
	bool "Ka-Ro TXMP-1571 module"
	depends on STM32MP15X
	select KARO_STM32
	imply KARO_STM32_EMMC
	help
	  TXMP-1570 with corrected pinout compatible with the rest of the
	  TX module family

config KARO_QSMP_1510
	bool "Ka-Ro QSMP-1510 solder-in module"
	depends on STM32MP15X
	select KARO_STM32
	select KARO_STM32_NAND
	help
	  Enable support for the Ka-Ro electronics QSMP-1510 module featuring
	  an STM32MP151A SOC, 256MiB of SDRAM and 128MiB NAND flash on a
	  solder-in module.

config KARO_QSMP_1530
	bool "Ka-Ro QSMP-1530 solder-in module"
	depends on STM32MP15X
	select KARO_STM32
	imply KARO_STM32_EMMC
	help
	  Enable support for the Ka-Ro electronics QSMP-1530 module featuring
	  an STM32MP153A SOC, 256MiB of SDRAM and 4GiB eMMC on a solder-in
	  module.

config KARO_QSMP_1570
	bool "Ka-Ro QSMP-1570 solder-in module"
	depends on STM32MP15X
	select KARO_STM32
	imply KARO_STM32_EMMC
	help
	  Enable support for the Ka-Ro electronics QSMP-1570 module featuring
	  an STM32MP157C SOC, 512MiB of SDRAM and 4GiB eMMC on a solder-in
	  module.

config KARO_QSMP_1351
	bool "Ka-Ro QSMP-1351 solder-in module"
	depends on STM32MP13X
	select KARO_STM32
	imply KARO_STM32_EMMC
	help
	  Enable support for the Ka-Ro electronics QSMP-1351 module featuring
	  an STM32MP135C SOC, 256MiB of SDRAM and 4GiB eMMC on a solder-in
	  module.

endchoice

choice
	prompt "Ka-Ro TXMP/QSMP boot device"
	default KARO_STM32_NAND if KARO_QSMP_1510
	default KARO_STM32_EMMC

config KARO_STM32_EMMC
	bool "eMMC device"

config KARO_STM32_NAND
	bool "SPI NAND device"
	depends on STM32_QSPI
	select DM_MTD

config KARO_STM32_SPI
	bool "SPI NOR device"
	depends on STM32_QSPI
	select DM_MTD

endchoice

choice
        prompt "U-Boot image variant"
        default KARO_UBOOT

config KARO_UBOOT
        bool "Standard U-Boot image"

config KARO_UBOOT_MFG
        bool "U-Boot image for use with stm32prog"

config KARO_UBOOT_NOENV
        bool "U-Boot using only built-in environment"
        select UBOOT_IGNORE_ENV

endchoice

endif
